{% extends "base.html" %}

{% block body %}
  <form id="pay" action="/charge?amount=500" method="POST">
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="pk_test_oFnYiwaHFsAfXy5yTUSEMlDV"
      data-amount="500"
      data-name="Demo Site"
      data-description="$5 Credit"
      data-label="$5 credit"
      data-image="/128x128.png">
    </script>
  </form>
  <div id="container">
  </div>
  {% assets "jsx" %}
    <script type="text/jsx" src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock body %}
