{% extends "base.html" %}
    <!-- TODO pre-compile -->
    <!--<script src="/js/libs/react-0.10.0.js"></script>
    <script src="/js/libs/JSXTransformer-0.10.0.js"></script>

    <script type="text/javascript" src="/js/libs/proj4.js"></script>
    <script type="text/javascript" src="/js/libs/leaflet.js"></script>
    <script type="text/javascript" src="/js/libs/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/js/libs/bootstrap/dropdown.js"></script>
    <script type="text/javascript" src="/js/libs/bootstrap/transition.js"></script>
    <script type="text/javascript" src="/js/libs/bootstrap/collapse.js"></script>

    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/libs/hint.css" rel="stylesheet">
    <link href="/css/libs/leaflet.css" rel="stylesheet">-->

{% block body %}
  {% assets "jsx" %}
  <!--<script type="text/jsx" src="/js/app.js"></script>-->
    <script type="text/jsx" src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock body %}
